<a href="/shoes">Go to all Products</a> <a href="/sessions" data-method = 'delete'>Logout</a>

<h1>Hi <%= @user.first_name %>,</h1>


<h3>Sell Product</h3>
<form action='/shoes' method="post">
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	Product Name: <input name='product'>
	Amount: <input type='number' name='amount'>
	<button>Sell</button>
</form>

<h3>Your products that are not yet sold:</h3>

<table border='1'>
	<tr>
		<th>Product</th>
		<th>Date Posted</th>
		<th>Amount</th>
		<th>Action</th>
	</tr>
	<% @shoes.each do |shoe| %>
	<% if shoe.user_id == session[:user_id] %>
	<tr>
		<td><%= shoe.product %></td>
		<td><%= shoe.created_at.to_s(:long) %></td>
		<td><%= shoe.amount %></td>
		<td>
			<form action='/shoes/destroy/<%=shoe.id%>' method='post'>
				<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token%>'>
				<input type ='hidden' name="_method" value='delete'>
				<button>Remove</button>
			</form>
		</td>
	</tr>
	<% end %>
	<% end %>
</table>

	<h3>Sales</h3>

	<table border='1'>
		<tr>
			<th>Product</th>
			<th>Date Bought</th>
			<th>Buyer</th>
			<th>Amount</th>
		</tr>



		<% @sales.each do |sale| %>

		<% if sale.seller == session[:user_name] %>
		<tr>
			<td><%= sale.shoe.product %></td>
			<td><%= sale.created_at.to_s(:long) %></td>
			<td><%= sale.user.first_name %> <%= sale.user.last_name %></td>
			<td><%= sale.shoe.amount %></td>
		</tr>
		<% end %>
		<% end %>

		
	</table>


<h3>Purchases</h3>

<table border='1'>
	<tr>
		<th>Product</th>
		<th>Date Bought</th>
		<th>Seller</th>
		<th>Amount</th>
	</tr>

<% @sales.each do |sale| %>

		<% if sale.user.id == session[:user_id] %>
		<tr>
			<td><%= sale.shoe.product %></td>
			<td><%= sale.created_at.to_s(:long) %></td>
			<td><%= sale.seller%></td>
			<td><%= sale.shoe.amount %></td>
		</tr>
		<% end %>
		<% end %>


</table>











